.chat-box {
  background-color: var(--bg-chatbox-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--border-color);
}

.header > .user {
  display: flex;
  flex: 1;
  overflow: hidden;
  gap: 10px;
  position: relative;
  align-items: center;
}

.header > .user > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header > .user > div > h3 {
  overflow: hidden;
  color: var(--text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.header > .user > div > span {
  overflow: hidden;
  color: var(--text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.online-dot-box {
  position: absolute;
  background-color: var(--active-status-color);
  border-radius: 50%;
  left: 43px;
  bottom: 5px;
  width: 15px !important;
  height: 15px;
  z-index: 1000;
}

.header svg {
  color: var(--text-color);
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 15px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin: 1px 0;
}

.sender {
  margin: 2px 0;
  align-self: flex-end;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sender .message {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--sender-bg-color);
  color: var(--sender-text-color);
  word-break: break-word;
}

.message-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.receiver .message-img {
  align-self: flex-start;
}

.deleted-message {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  color: var(--placeholder-color);
}

.receiver {
  margin: 2px 0;
  align-self: flex-start;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.receiver > div {
  display: flex;
  gap: 8px;
}

.receiver .message {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--receiver-bg-color);
  color: var(--receiver-text-color);
  align-self: flex-start;
  word-break: break-word;
}

.sender > div > div,
.receiver > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.m-details {
  display: flex;
  align-items: center;
  padding-right: 6px;
  gap: 4px;
}

.receiver .m-details > span {
  padding-right: 2px;
  color: var(--text-color);
}

.sender .m-details > span {
  color: var(--text-color);
}

.header > h3 {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  color: var(--receiver-text-color);
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
}

.chat-box-footer {
  margin-bottom: 10px;
  padding: 0 15px 0 10px;
  display: flex;
  width: 100%;
}

.chat-box-footer button > svg {
  color: var(--text-color);
  align-self: center;
}

.chat-box-footer > .image-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
  align-self: center;
}

.image-container > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px;
}

.image-container > button > svg {
  color: var(--text-color);
}

.chat-box-footer > .input-container {
  flex: 1;
  word-break: break-word;
}

.chat-box-footer > .button {
  background-color: var(--button-color);
  height: 35px;
  padding: 0 5px;
  border: none;
  align-self: center;
}

.chat-box-footer > .button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.chat-box-footer > .button > svg {
  color: var(--button-text-color);
}

.blank-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blank-box > p {
  color: var(--text-color);
  text-align: center;
  word-break: break-word;
}

@media (max-width: 767px) {
  .sender,
  .receiver {
    max-width: 70%;
  }

  .header {
    padding: 5px 10px;
  }

  .image-container > img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 600px) {
  .image-container > img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 450px) {
  .image-container > img {
    width: 17px;
    height: 17px;
  }
}
